<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.agents.minimalistmovieposters</string>
	<key>PlexAgentAttributionText</key>
	<string>
		Search for Minimalist Movie Posters
		Based on: http://minimalmovieposters.tumblr.com/
	</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexPluginClass</key>
	<string>Agent</string>
</dict>
</plist>
